@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
/* -----------------------------------------     form page    ------------------------------------------------- */
* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif ;
}
body {
    min-height: 100vh ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    /* background-image: linear-gradient(to bottom right, white, gray); */
    background-image: url('/static/images/credit-card-fraud1.png');
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here (0.5 = 50% opacity) */
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: relative ;
    max-width: 900px ;
    width: 100% ;
    border-radius: 6px ;
    padding: 30px ;
    margin: 0 15px ;
    background-color: #fff ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container header {
    position: relative;
    font-size: 20px ;
    font-weight: 600 ;
    color: #333 ;
}
.container header ::before {
    content: "";
    position: absolute ;
    left: 0 ;
    bottom: -2px ;
    height: 3px ;
    width: 27px ;
    border-radius: 8px ;
    background-color: rgb(204, 239, 158);  
}

.container form {
    position: relative ;
    margin-top: 10px ;
    min-height: 490px ;
    background-color: #fff ;
}

.container form .form {
    position: absolute ;
    background-color: #fff ;
}

.container form .details{
    margin-top : 5px ;
    background-color: white ;
}

.container form .details .ID{
    margin-top : 5px ;
}

.container form .title {
    display: block ;
    margin-bottom: 8px ;
    font-size: 16px ;
    font-weight: 500 ;
    margin: 6px 0 ;
    color: #333 ;
}

.container form .fields {
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    flex-wrap: wrap ;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 6 - 15px );
    flex-direction: column ;
    margin: 8px 0 ;
}

.input-field label {
    font-size: 12px ;
    font-weight: 500 ;
    color : #2e2e22 ;
}

.input-field input {
    outline: none ;
    font-size: 15px ;
    font-weight: 400 ;
    color: #333 ;
    border-radius: 5px ;
    border: 2px solid #aaa ;
    padding: 0 15px ;
    height: 42px ;
    margin: 8px 0 ;
}

.input-field input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"] {
    color: #707070 ;
}

.input-field input[type="date"]:valid {
    color: #333 ;
}


.container form button {
    display: flex;
    align-items: center ;
    justify-content: center ;
    height: 45px ;
    max-width: 200px ;
    width: 100% ;
    border: none ;
    outline: none ;
    color: #fff ;
    border-radius: 5px ;
    margin: 10px 0 ;
    background-color: rgba(49, 49, 48, 0.383);
    transition: all 0.35s linear ;
    cursor: pointer ;
}

form button:hover {
    background-color: rgb(19, 20, 19) ;
}

form button i {
    margin: 0 6px ;
}




/* -----------------------------------------     about-page    ------------------------------------------------- */


.sent2 {
    font-size: 40px ;
    font-weight: 500 ;
    color: rgb(240, 130, 19) ;
}




.para p{
    margin-top: 5px ;
    margin-bottom: 5px ;
}

.form1 button {
    display: flex;
    align-items: center ;
    justify-content: center ;
    height: 45px ;
    max-width: 200px ;
    width: 100% ;
    border: none ;
    outline: none ;
    color: #fff ;
    border-radius: 5px ;
    margin: 10px 0 ;
    background-color: rgb(165, 165, 160);
    transition: all 0.35s linear ;
    cursor: pointer ;
}

.form1 button:hover {
    background-color: rgb(41, 41, 39) ;
}

.form1 button i {
    transform: rotate(180deg) ;
    margin: 0 6px ;
}



/* -----------------------------------------     side-navbar    ------------------------------------------------- */


.side-nav {
    width: 110px ;
    height: 100% ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    padding: 30px 15px ;
    background: rgba(255, 255, 255, 0.2) ;
    backdrop-filter: blur(5px);
    display: flex ;
    justify-content: space-between ;
    flex-direction: column ;
    transition: width 1.5s ;
}

.welcome {
    display: flex;
    width: 60px ;
    font-size: 12px ;
    padding: 10px ;
    border-radius: 8px ;
    margin-left: 0px ;
    margin-right: 10px ;
    overflow: hidden ;
}

h2 {
    font-size: 17px ;
    font-weight: 550 ;
    white-space: nowrap ;
}

.welcome p {
    font-size: 15px ;
}

.welcome-img {
    width: 50px ;
    height: 40px ;
    border-radius: 50% ;
    margin-right : 5px  ;
}

.content{
    margin: 0 20px ;
}

ul {
    list-style: none ;
    padding: 0 25px ;
}

ul li {
    margin: 20px 0 ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    cursor: pointer ;
}

ul li img {
    width: 25px ;
    height: 25px ;
    margin-right: 10px ;
    border-radius: 50% ;
}

ul li p {
    font-size: 15px ;
    color: white ;
    white-space: nowrap ;
    display: none ;
}

.side-nav:hover {
    width: 250px ;
}


.side-nav:hover .welcome div {
    display: block ;
}
.side-nav:hover .welcome{
    width: 100% ;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    transition: width 1.5s ;
}

.side-nav:hover ul li p {
    display: block ;
    transition: width 1.5s ;
}

.side-nav:hover ul li img {
    margin-right: 10px ;
    transition: width 1.5s ;
}

.side-nav:hover ul li{
    justify-content: flex-start ;
    transition: width 1.5s ;
}

.side-nav ul li p:hover {
    width: 100% ;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}






































